{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">GIITNI</h1>
            <h3 class="lead fw-normal text-white-50 mb-0">Grupo de investigacion</h3>
        </div>
    </div>
</header>

<div class="container"> 
    <div class="text-center my-5"> <!-- separar cosas -->
        <h1>Sobre Nosotros</h1>
        <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Maiores non cupiditate neque odit temporibus, aliquid dolore dolorum praesentium autem. 
            Eos excepturi, libero ullam sed autem voluptatum animi tempore similique. Neque? </h4>
    </div>
    <div>     
        <div class="row my-5">
            <div class="col-md-4">
                <div class="text-center"> 
                    <h1> Mision </h1>
                    <h4>Queremos ser un espacio destinado al estudio, el desarrollo y la promoción  de  
                    actividades científicas relacionadas con la Inteligencia Tecnológica para el 
                    tratamiento especializado de la Información con fines de innovación para ser aplicado en la industria</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <h1> Vision </h1>
                    <h4>Somos un grupo de docentes, estudiantes y profesionales que investiga, 
                    promueve y difunde tendencias tecnológicas para el tratamiento especializado de la información, 
                    generando proyectos de I+D+i que impacten en la vida universitaria, en las empresas y en las 
                    industrias.</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center"> 
                    <h1>Valores Culturales</h1> 
                    <h4>Trabajo en equipo​</h4>
                    <h4>Innovación​</h4>
                    <h4>Excelencia​</h4> 
                    <h4>Transferencia​</h4>
                    <h4>Compromiso</h4> 
                    <h4>Profesionalismo</h4>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}



