{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<body>
    <h1>Listado de Profesores del GIITNI</h1>
    {% for p in profesores %}
        <li><h5>{{p}}</h5> </li>
    <button type="button" class="btn btn-dark"style="margin-left:10px" >
        <a href="{% url 'eliminarProfesor' p.nombre %}"> Eliminar</a>
        <a href="{% url 'editarProfesor' p.nombre %}"> Editar</a>
    </button>
    {% endfor %}
    <br>
    <br>
    <button type="button" class="btn btn-dark">
        <a href="crearProfesor">Agregar otro Profesor</a>
    </button>
    

</body>



{% endblock %}
