<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>GIITNI</title>
        
    <link rel="icon" type="image/x-icon" href="{% static 'AppCoder/assets/favicon.ico' %}" /> 
        
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
       
    <link href="{% static 'AppCoder/css/styles.css' %}" rel="stylesheet" /> 
    <link href="{% static 'AppCoder/css/padre.css' %}" rel="stylesheet" />
    <link href="{% static 'AppCoder/assets/imgSofia' %}" rel="stylesheet" />

</head>

<body>
    <!-- style="background-color: rgba(158, 244, 136, 0.403)" -->
    
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
            <a class="navbar-brand" href="{% url 'estudiantes' %}">Estudiantes</a>
            <a class="navbar-brand" href="{% url 'profesores' %}">Profesores</a>
            <a class="navbar-brand" href="{% url 'lineaDeInvestigacion' %}">Linea de Investigacion</a>
            <a class="navbar-brand" href="{% url 'beca' %}">Beca</a>
            <a class="navbar-brand" href="{% url 'busqueda' %}">Busqueda</a>
            <a class="btn btn-primary" href="#signup">Sign Up</a>
        </div>
    </nav>


    <!-- Esto es lo que va a cambiar-->
    {% block contenidoQueCambia %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'AppCoder/js/scripts.js' %}"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <!-- Footer-->
    <footer class="footer background-color">
        <div class="container" >
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item"><a href="#!">About</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Contact</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                        <li class="list-inline-item">⋅</li>
                        <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2022. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-facebook fs-3"></i></a>
                        </li>
                        <li class="list-inline-item me-4">
                            <a href="#!"><i class="bi-twitter fs-3"></i></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#!"><i class="bi-instagram fs-3"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
