{% extends "AppCoder/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<body>
    <div id="Registrar" class="text-center">
        <h1>Registrarte</h1>
        <h5>Es rapido y facil</h5>

        <form action="" method="POST">{% csrf_token %}
            {{form.as_p}}

            <button type="submit">Registrar </button>
            <button><a href="login">Si ya tiene usuario, use el login</a></button>
            <br>
            <button><a href="login">Volver</a></button>
        </form>
    </div>
    
</body>

{% endblock %}